{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
{% load staticfiles %}
  <meta charset="utf-8"/>
  <title>socknet</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
</head>
<body>
  <script src="{% static 'js/base.js' %}"></script>
  <a href="{% url 'logged_out' %}">Logout</a>
  <a href="{% url 'profile' authorId=user.author.id %}">My Profile</a>
  {% block content %}{% endblock %}
</body>

<script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
{% block scripts %}{% endblock %}
</html>
