{% extends "base.html" %}
{% block content %}
    <!-- Display validation errors -->
    {% if profile_author.uuid == user.author.uuid %}

        <div class="edit-profile-form">
            <h1>Edit your profile</h1>
            <form method="post" action="{% url 'editprofile' authorUUID=user.author.uuid %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="about_me">Display Name</label>
                    <input id="displayName"  class="form-control" name="displayName" type="text " maxLength="150"  autofocus="true" required="true" value="{{ user.author.displayName }}"></input>
                </div>
                <div class="form-group">
                    <label for="birthday">Enter Birthday (yyyy-mm-dd)</label>
                    <input id="birthday"  class="form-control" name="birthday" type="date" value='{{ user.author.birthday|date:'Y-m-d' }}'>
                </div>
                <div class="form-group">
                    <label for="github_url">Github URL</label>
                    <input id="github_url" class="form-control" maxlength="254" name="github_url" type="text" value="{{ user.author.github_url }}">
                </div>
                <div class="form-group">
                    <label for="about_me">About Me</label>
                    <textarea id="about_me"  class="form-control no-resize" name="about_me" type="text " maxLength="1000">{{ user.author.about_me }}</textarea>
                </div>
                <input type="submit" value="Save Changes">
            </form>
        </div>
            {% else %}
<h2> You are not logged in as this account. You can't edit a profile unless you are logged in </h2>
  {% endif %}
</body>

{% endblock %}
