{% extends "base.html" %}
{% block content %}
<div class = "content-box">
    <h1 id="profile-heading">{{ profile_author.user.username }}'s Profile!</h1>
    {% if profile_author.uuid == user.author.uuid %}
        <!-- Author is viewing their own profile, display edit button -->
        <form id="edit" action="{% url 'editprofile' authorUUID=user.author.uuid %}">
            <input class="float-right" type="submit" value="Edit Profile">
        </form>
    {% else %}
        <!-- Author is viewing someone else's profile, display button that allows
             them to follow, unfollow, unfriend, etc. -->
        <a id="friend_anchor" href="#" class="friend-anchor login-button float-right"
        data-uuid="{{ profile_author.uuid }}" data-username="{{ profile_author.user.username }}" data-status="{{ button_action }}" data-islocal="True"></a>
    {% endif %}
    <hr class="profile-divider"/>
    <!-- Profile fields -->
    <div class="profile-field">
        <span class="profile-label">Display Name: </span>{{ profile_author.displayName }}
        {% if not profile_author.displayName %}
        None
        {% endif %}
    </div>
    <div class="profile-field">
        <span class="profile-label">Birthday: </span>{{ profile_author.birthday }}
    </div>
    <div class="profile-field">
        <span class="profile-label">Github Url: </span>{{ profile_author.github_url }}
        {% if not profile_author.github_url %}
        None
        {% endif %}
    </div>
    <div class="profile-field">
        <span class="profile-label">About Me: </span> {{ profile_author.about_me }}
        {% if not profile_author.about_me %}
        None
        {% endif %}
    </div>
</div>

<!-- The stream for the profile's author -->
<div class="postList">
    <ol class="feed">
        {% for post in context_list %}
            <li class="post">
                {% include "socknet/post_templates/subtemplate_post.html" %}
            </li>
        {% endfor %}
    </ol>
  </div>
{% endblock %}

{% block scripts %}
{% load static from staticfiles %}
<script type="text/javascript">
    var url = "{% url 'profile' authorUUID=user.author.uuid %}";

    $(document).ready(function() {
        console.log("Profile is loaded");
        console.log("Action button: "+"{{ button_action }}")
        if ("{{ user.author.uuid }}" !== "{{ profile_author.uuid }}") {
            // Set text of friend button based on current relationship
            if("{{ button_action }}" === "unfriend") {
                $('#friend_anchor').append("<span class='glyphicon glyphicon-ok'></span><span> Friends</span>");
                $('#friend_anchor').removeAttr("href");
                $('#friend_anchor').css("background-color", "#DDDDDD")
                $('#friend_anchor').css('cursor', 'default');
            } else if ("{{ button_action }}" === "follow") {
                $('#friend_anchor').text("Follow");
            } else if ("{{ button_action }}" === "accept_friend_request") {
                $('#friend_anchor').text("Follow");
                $('#friend_anchor').data("status" , "follow");
            } else if ("{{ button_action }}" === "unfollow") {
                $('#friend_anchor').append("<span class='glyphicon glyphicon-ok'></span><span> Following</span>");
                $('#friend_anchor').removeAttr("href");
                $('#friend_anchor').css("background-color", "#DDDDDD")
                $('#friend_anchor').css('cursor', 'default');
            }
        }

        // Handles ajax calls to send friend request and follow someone
        $('.friend-anchor').click(function () {
            var id = $(this).attr('id');
            var status = $(this).data("status");
            var csrftoken = getCookie('csrftoken'); // From js/cookie.js
            var friendUUID = $(this).data("uuid");
            var is_local = $(this).data("islocal");

            // HANDLE FOLLOW ACTION
            if (status == "follow") {
                console.log("This author wants to follow: "+$(this).data('username'));
                // Follow with ajax so we don't have to reload the page.
                var jsonData = {
                    "friend_id": friendUUID
                    }
                var jsonStr = JSON.stringify(jsonData)
                console.log(jsonStr);
                $.ajax({
                    type: "POST",
                    url: url,
                    data: jsonStr,
                    contentType: "application/json",
                    success: function () { followSuccess(); },
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                });
            }

        });

        function followSuccess() {
            console.log("Follow successful!");
            $('#friend_anchor').data("status" , "unfollow");
            $('#friend_anchor').removeAttr("href");
            $('#friend_anchor').css("background-color", "#DDDDDD")
            $('#friend_anchor').text("");
            $('#friend_anchor').append("<span class='glyphicon glyphicon-ok'></span><span> Following</span>");
            $('#friend_anchor').css('cursor', 'default');
            $('#friend_anchor').blur()
        }

    });
</script>
{% endblock scripts %}
