{% extends "base.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'list_posts' %}">Socknet</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Profile</a></li>
      <li><a href="#">Search</a></li>
      <li class="active"><a href="{% url 'create_post' %}">New Post</a></li>
      <li><a href="#">Friends</a></li>

    </ul>
     <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logged_out' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
  </div>
</nav>
<div class ="createPost">
<h1>Create Post</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Finish"/>
</form>
</div>
{% endblock %}
