{% extends "base.html" %}
{% block content %}
<div class="image-container">
Image: {{image_loc.id}}<br/>
Uploaded by {{image_loc.author.user.username}} on {{image_loc.created_on}} UTC.<br/>
<a onclick="window.history.back()" href="#">Go Back</a>
<script type='text/javascript'>
  $.get("../../media/{{image_loc.image}}", function(data, status) {
    if( status === "success") {
      $('#imgcon').html(data);
      $('#theimage').css("width", "100%")
    }
  });
</script>
  <p id='imgcon'>
  </p>
</div>
{% endblock %}
