{% extends "base.html" %}
{% block content %}
<div class="postList">
    <h2>Post List</h2>
    <ol class="feed">
        {% for post in object_list %}
            <li class="post">
              <p class="authordate">
                Author: {{ post.author.user.username }}<br/>
                Created On (UTC): {{ post.created_on }}
              </p>
              <article class="content">
                {{post.view_content|safe}}
              </article>
            </li>
        {% endfor %}
    </ol>
  </div>
{% endblock %}
