{% extends "base.html" %}
{% block content %}
    <h2>Comments for Post{{parent.id}}</h2>
    <div class="post-actions">
        <div class="action">
            <a href="{% url 'view_post' pk=parent.id %}">View Post</a>
        </div>
        <div class="action">
            <a href="{% url 'create_comment' post_pk=parent.id %}">New Comment</a>
        </div>
    </div>
    <ol class="feed">
        {% for comment in comments %}
          <li class="post">
            <!--<a href="{{ comment.get_absolute_url }}">View Comment</a>-->
            <div>
                <a class="author-label" href="{% url 'profile' authorUUID=comment.author.uuid %}">{{ comment.author.user.username }}</a>
            </div>
            <div>
              <a class="post-id-label" name="{{ comment.id }}" href="#{{ comment.id }}"># {{ comment.id }}</a>
          </div>
            <div class="author-date">
                {{ comment.created_on }} UTC
            </div>
            <article class="content">
            	{{comment.view_content|safe}}
            </article>
          </li>
        {% endfor %}
    </ol>
    {% if comments.count < 1 %}
    <div class="content-box">There are no comments on this post.</div>
    {% endif %}
{% endblock %}
