{% extends "base.html" %}
{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Socknet</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="#">Profile</a></li>
      <li><a href="#">Search</a></li>
      <li><a href="{% url 'create_post' %}">New Post</a></li>
      <li><a href="#">Friends</a></li>

    </ul>
     <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url 'logged_out' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
  </div>
</nav>
<div class="postList">
    <h2>Post List</h2>
    <ol class="feed">
        {% for post in object_list %}
            <li class="post">
              <p class="authordate">
                Author: {{ post.author.user.username }}<br/>
                Created On (UTC): {{ post.created_on }}
              </p>
              <article class="content">
                {{post.view_content|safe}}
              </article>
            </li>
        {% endfor %}
    </ol>
  </div>
{% endblock %}
