{% extends "base.html" %}
{% block content %}
    <h1>{{ user.username }}'s Friends!</h1>
    <h3>My Friends</h3>
    <div>
        {% for friend in user.author.friends.all %}
            <div>
                {{friend.user.username}}
                <a id="{{ friend.uuid}}_button" href="#" class="friend-anchor"
                data-uuid="{{ friend.uuid }}" data-username="{{ friend.user.username }}" data-status="unfriend">Unfriend</a>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block scripts %}
{% load static from staticfiles %}
<script src="{% static 'js/friend_request_handler.js' %}"></script>
<script type="text/javascript">
    // authorUUID and url are needed in friend_request_handler (above)
    var authorUUID = "{{ user.author.uuid }}";
    var url = "{% url 'manage_friends' authorUUID=user.author.uuid %}";
    $(document).ready(function() {
        console.log("Manage Friends Loaded");
    });
</script>
{% endblock scripts %}
