{% extends "base.html" %}
{% block content %}

<h1>{{ profile_author.user.username }}'s Profile!</h1>
<div class = "profileInfo">
    {% if profile_author.uuid == user.author.uuid %}
        <!-- Author is viewing their own profile, display edit button -->
        <p>This button doesn't go anywhere right now.</p>
        <form action="{% url 'editprofile' authorUUID=user.author.uuid %}">
       <input type="submit" value="Edit Profile">
    </form>
    {% else %}
        <!-- Author is viewing someone else's profile, display button that allows
             them to follow, unfollow, unfriend, etc. -->
        <a id="friend_anchor" href="#" class="friend-anchor"
        data-uuid="{{ profile_author.uuid }}" data-username="{{ profile_author.user.username }}" data-status="{{ button_action }}"></a>
    {% endif %}

</div>

<!-- The stream for the profile's author -->
<div class="postList">
    <ol class="feed">
        {% for post in context_list %}
        {% if user.author.uuid == profile_author.uuid %}
            <li class="post">
                <div class="first-line">
                    <div class="author-label">Author: {{ post.author.user.username }}</div>
                    {% if profile_author.uuid == user.author.uuid %}
                        <a class = "delete" href="{% url 'author_check_delete' pk=post.pk %}">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    {% endif %}
                </div>
              <div class="author-date">
                Created On (UTC): {{ post.created_on }}
            </div>
              <article class="content">
                {{post.view_content|safe}}
              </article>
            </li>
        {% endif %}
        {% endfor %}
    </ol>
  </div>
{% endblock %}

{% block scripts %}
{% load static from staticfiles %}
<script src="{% static 'js/friend_request_handler.js' %}"></script>
<script type="text/javascript">
    // authorUUID and url are needed in friend_request_handler (above)
    var authorUUID = "{{ user.author.uuid }}";
    var url = "{% url 'manage_friends' authorUUID=user.author.uuid %}";

    $(document).ready(function() {
        console.log("Profile is loaded");
        console.log("Action button: "+"{{ button_action }}")
        if ("{{ user.author.uuid }}" !== "{{ profile_author.uuid }}") {
            // Set text of friend button based on current relationship
            if("{{ button_action }}" === "unfriend") {
                $('#friend_anchor').text("Unfriend");
            } else if ("{{ button_action }}" === "follow") {
                $('#friend_anchor').text("Follow");
            } else if ("{{ button_action }}" === "accept_friend_request") {
                $('#friend_anchor').text("Accept Friend Request");
            } else if ("{{ button_action }}" === "unfollow") {
                $('#friend_anchor').text("Unfollow");
            }
        }
    });
</script>

{% endblock scripts %}
