<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8S"/>
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
</head>
<body>
    <!-- Display validation errors -->
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="form-error">
                    {{ error|escape }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    
    <div class="login-center-wrapper">
        <div class="loginform">
            <h1>Registration</h1>
            <form method="post" action="{% url 'registration' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_username">Username</label>
                    <input id="id_username" class="form-control" autofocus="true" maxlength="254" name="username" required="true" type="text">
                    <p class="help-block">150 characters or fewer. Letters, digits and @/./+/-/_ only.</p>
                </div>
                <div class="form-group">
                    <label for="id_password">Password</label>
                    <input id="id_password"  class="form-control" name="password" required="true" type="password">
                </div>
                <div class="form-group">
                    <label for="id_confirm_password">Confirm Password</label>
                    <input id="id_confirm_password"  class="form-control" name="confirm_password" required="true" type="password">
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
