{% extends "base.html" %}
{% block content %}
<div class="content-box">
    {% include "socknet/post_templates/subtemplate_post.html" %}
    <div class="post-actions">
        <div class="action">
            <a href="{% url 'create_comment' post_pk=post.pk %}">Write Comment</a>
        </div>
        <a href="{% url 'list_posts' %}">Return to Post List</a>
    </div>
</div>
<br/>

<!--
{% for comment in foreign_comments %}
  <li>
    <div>
        <span class="author-label">{{ comment.foreign_author.display_name }}</span> from {{comment.foreign_author.node.name}}
    </div>
    <div class="author-date">
        {{ comment.created_on }} UTC
    </div>
    <article class="content">
        {{comment.view_content|safe}}
    </article>
  </li>
  <hr class="comment-divider"/>
{% endfor %}
-->

{% if num_comments > 0 %}
<ol class="comment-container">
    {% for comment in comments %}
      <li>
        <div>
            <span class="author-label">{{ comment.author }}</span> from
            <span class="server-label">{{ comment.node }}</span>
        </div>
        <div class="author-date">
            {{ comment.created_on }} UTC
        </div>
        <article class="content">
            {{comment.content|safe}}
        </article>
      </li>
      <hr class="comment-divider"/>
    {% endfor %}
</ol>
    {% if comments.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if comments.has_previous %}
                    <a href="?page={{ comments.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ comments.number }} of {{ comments.paginator.num_pages }}.
                </span>

                {% if comments.has_next %}
                    <a href="?page={{ comments.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% else %}
    <div class="content-box">There are no comments on this post.</div>
{% endif %}
{% endblock %}
