{% extends "base.html" %}
{% block content %}

<div class="content-box">
        <div class="first-line">
            <h1>{{ postdat.title }}</h1>
        </div>
        {% if postdat.author_id is not None %}
        <div class="post-id-label">
            {{ postdat.visibility }} post submitted by
            <a class="author-label" href="{% url 'remote_profile' nodeID=postdat.node.id authorUUID=postdat.author_id %}">{{ postdat.author_display_name }}</a>
            on {{ postdat.published }} from {{ postdat.node.name }}
        </div>
        {% else %}
            Error loading post author: {{error}}
        {% endif %}
        <div class="post-description">
            {{postdat.description}}
        </div>
        <article class="content">
            {{postdat.content|safe}}
        </article>
        <div class="post-actions">
            <div class="action">
                <a href="{% url 'create_foreign_comment' pk=postdat.id nodeID=postdat.node.id %}">Write Comment</a>
            </div>
            <a href="{% url 'list_remote_posts' %}">Return to Remote Post List</a>
        </div>
</div>

<br/>
{% if num_comments > 0 %}
<ol class="comment-container">
    {% for comment in comments_list %}
      <li>
        <div>
            <!-- Let's just display stuff and not have it linked b/c it is easier -->
            <span class="author-label">{{comment.author_display_name}}</span> from
            <span class="server-label">{{comment.node.name}}</span>
        </div>
        <div class="author-date">
             {{ comment.published }} UTC
        </div>
        <article class="content">
            {{comment.content|safe}}
        </article>
      </li>
      <hr class="comment-divider"/>
    {% endfor %}
</ol>
{% else %}
    <div class="content-box">There are no comments on this post.</div>
{% endif %}
{% endblock %}
