{% extends "base.html" %}
{% block content %}
<div class="content-box">

    <div class="post-actions">
        <div class="action">
            <a href="">Write Comment</a>
        </div>
        <a href="">Return to Post List</a>
    </div>
</div>
<br/>
<ol class="comment-container">
      <li>
        <div>
            <a class="author-label" href=""></a>
        </div>
        <div class="author-date">
             UTC
        </div>
        <article class="content">

        </article>
      </li>
      <hr class="comment-divider"/>
</ol>
    <div class="content-box">There are no comments on this post.</div>
{% endblock %}
